/*
Theme Name: Twenty eleven 10 ans VEFA
Theme URL: http://yourdomain.com
Description: Twenty eleven modification pour le site 10 ans VEFA
Theme Author: Antoine Trapet
Author URL: http://yourdomain.com
Template: twentyeleven
Version: 1.0.0
Text Domain: twentyeleven-10ansvefa
https://www.colourlovers.com/palette/4714454/AI
*/

/* =Menu
-------------------------------------------------------------- */
body {
    background-color: #a5cc5254;
}

@media screen and (max-width: 754px) {
    #branding {
        background-image: url("images/logo_fertig.png");
        background-size: 122px;
        background-repeat: no-repeat;
        background-position-y: 8px;
        background-position-x: 10px;
    }

    #site-title {
        margin-left: 63px;
    }
}

#site-generator a.imprint, #site-generator span {
    display: none;
}

a {
    color: #507b00;
}

a:hover {
    color: #466E13;
}

#access {
    background: #507b00; /* Show a solid color for older browsers */
    background: -moz-linear-gradient(#507b00, #466E13);
    background: -o-linear-gradient(#507b00, #466E13);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#507b00), to(#466E13)); /* older webkit syntax */
    background: -webkit-linear-gradient(#507b00, #466E13);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
    clear: both;
    display: block;
    float: left;
    margin: 0 auto 6px;
    width: 100%;
}
#access ul {
    font-size: 13px;
    list-style: none;
    margin: 0 0 0 -0.8125em;
    padding-left: 0;
}
#access li {
    float: left;
    position: relative;
}
#access a {
    color: #eee;
    display: block;
    line-height: 3.333em;
    padding: 0 1.2125em;
    text-decoration: none;
}
#access ul ul {
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    display: none;
    float: left;
    margin: 0;
    position: absolute;
    top: 3.333em;
    left: 0;
    width: 188px;
    z-index: 99999;
}
#access ul ul ul {
    left: 100%;
    top: 0;
}
#access ul ul a {
    background: #f9f9f9;
    border-bottom: 1px dotted #ddd;
    color: #444;
    font-size: 13px;
    font-weight: normal;
    height: auto;
    line-height: 1.4em;
    padding: 10px 10px;
    width: 168px;
}
#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
    background: #efefef;
}
#access li:hover > a,
#access a:focus {
    background: #f9f9f9; /* Show a solid color for older browsers */
    background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
    background: -o-linear-gradient(#f9f9f9, #e5e5e5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); /* Older webkit syntax */
    background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
    color: #373737;
}
#access ul li:hover > ul {
    display: block;
}
#access .current-menu-item > a,
#access .current-menu-ancestor > a,
#access .current_page_item > a,
#access .current_page_ancestor > a {
    font-weight: bold;
}
